@charset "utf-8";
/* CSS Document */
html {
    overflow-x: hidden;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
/*======================
1. HOMEPAGE
========================*/
.header-top {
    background: #ab2e2e;
    padding: 5px 0;
}
.header-top ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-top ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
    padding: 0 12px 0 0;
}

.header-top ul li a {
    text-decoration: none;
    color: #fff;
}

.header-top ul li a:hover{
    text-decoration: none;
    color: #b6c58e;
}

.header-top ul li i {
    margin-right: 3px;
    font-size: 20px;
    position: relative;
    object-fit: contain;
    vertical-align: middle;
}
/*Menu Start*/
.homeochakra-nav ul {
    list-style: none;
    margin: 0;
    font-size: 0;
}

.header-nav {
    border-bottom: 1px solid #dedede;
    padding: 9px 0;
}
.header-nav .homeochakra-header-logo img{
    height: 70px;
}

.homeochakra-main-header.visible {
    background-color: #fff;
    position: fixed;
    top: -150px;
    z-index: 999;
}

.homeochakra-nav .homeochakra-nav__sup__list li {
    display: inline-block;
    padding: 0 17.5px;
    position: relative;
}

.homeochakra-nav .homeochakra-nav__sup__list li a {
    font-size: 14px;
    font-weight: 400;
    color: #313131;
    line-height: 32px;
    padding: 32.5px 0;
    text-decoration: none;
    position: relative;
}

.homeochakra-nav .homeochakra-nav__sup__list li a:hover {
    color: #ab2d2e;
}

.homeochakra-nav .homeochakra-nav__sup__list li a::before {
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    background: #ab2d2e;
    content: "";
    display: block;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.homeochakra-nav .homeochakra-nav__sup__list li.active a::before,
.homeochakra-nav .homeochakra-nav__sup__list li a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.homeochakra-nav .homeochakra-nav__sup__list li .arw-nav {
    color: #c3c7c9;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul {
    position: absolute;
    top: 100%;
    left: -40px;
    width: 330px;
    padding: 25px 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    background: #fff;
    z-index: 999;
}

.homeochakra-nav .homeochakra-nav__sup__list li:hover ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(29px);
    -moz-transform: translateY(29px);
    -ms-transform: translateY(29px);
    -o-transform: translateY(29px);
    transform: translateY(29px);
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul li {
    padding: 0 40px;
    position: relative;
    display: block;
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul li a {
    display: block;
    padding: 5px 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul li a::before {
    display: none;
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul li a::after {
    position: absolute;
    /* content: "//"; */
    top: 50%;
    left: 0;
    color: #ab2d2e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    visibility: hidden;
    opacity: 0;
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul li a:hover::after {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.homeochakra-nav .homeochakra-nav__sup__list li>ul li a:hover {
    padding-left: 12px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#menu-main-menu-1 li:nth-child(1) .fa-plus, #menu-main-menu-1 li:nth-child(2) .fa-plus, #menu-main-menu-1 li:nth-child(3) .fa-plus, #menu-main-menu-1 li:nth-child(5) .fa-plus, #menu-main-menu-1 li:nth-child(6) .fa-plus{
    display: none;
}

#menu-main-menu-1 li:nth-child(4) .sub-menu li:nth-child(4) .fa-plus{
    display: none;
}

#menu-main-menu-1 li:nth-child(7) .sub-menu li:nth-child(4) .fa-plus{
    display: none;
}

.homeochakra-default-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 30px;
    background: #43baff;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.homeochakra-default-btn:hover {
    background: #3e95fa;
    color: #fff;
    text-decoration: none;
}
.header-top .btn-login {
    font-size: 14px;
    font-weight: 700;
    padding: 3px 8px;
    background: #fff;
    color: #000;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px 0;
}

.header-top .btn-login:hover {
    background: #b6c58e;
    color: #fff;
    text-decoration: none;
}
/*Hamburger Menu Start*/
.hamburger {
    display: none;
    text-align: right;
    padding: 10px 0;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 24px;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 36px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #ab2f2f;
}

.hamburger-inner:before {
    top: -10px;
}

.hamburger-inner:after {
    bottom: -10px;
}

.hamburger .hamburger-inner:before {
    transition: top .1s ease-in .25s, opacity .1s ease-in;
}

.hamburger .hamburger-inner:after {
    transition: bottom .1s ease-in .25s, transform .22s cubihomeochakra-bezier(.55, .055, .675, .19);
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger-inner {
    transition-timing-function: cubihomeochakra-bezier(.55, .055, .675, .19);
    transition-duration: .22s;
}

.hamburger.is-active .hamburger-inner,
.hamburger .hamburger-inner:after,
.hamburger .hamburger-inner:before {
    background-color: #ab2f2f;
}

.hamburger.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubihomeochakra-bezier(.215, .61, .355, 1);
    transform: rotate(225deg);
}

.hamburger.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out, transform .22s cubihomeochakra-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(-90deg);
}

.hamburger.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
    opacity: 0;
}
/*Hamburger Menu End*/

.homeochakra-nav__sup.homeochakra-mobile-menu {
    display: none;
}

.homeochakra-nav__sup.homeochakra-desktop-menu {
    display: block;
}

/*Menu End*/

/* Video Start */
.homevideo .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.homevideo img{
    width: 100%;
}
/* Video End */
/* Patient Packages Start */
.heading{
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 54px;
    color: #4c8c91;
    text-align: center;
}
.heading span{
    color: #ab2d2e;
}
.packages-box{
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 15px;
    margin-bottom: 30px;
}
.packages-box:hover{
    border-color: #ab2d2e;
    transition: transform 300ms ease 0ms;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    transform: scaleX(1.1) scaleY(1.1) !important;
}
.packages-icon{
    position: relative;
    object-fit: contain;
    vertical-align: middle;
    text-align: center;
}
.packages-content h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
}
.packages-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #666;
}
.booking{
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 36px 0;
    transition: 2s all;
}
.booking h3{
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #f4364f;
}
.booking .btn{
    background: #4c8c91;
    color: #fff;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.booking .btn:hover{
    background-color: #ab2e2e;
    webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
transform: scaleX(1.05) scaleY(1.05) !important;
}
/* Patient Packages End */
/* Terms and conditions Start */
.terms{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.terms-content{
    background-image: url(.././images/termsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 17px 0;
}
.terms-content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
/* Terms and conditions End */
/* How it works Start */
.workbg{
    background-color: #f7f7f7;
    padding: 50px 0;
}
.workbg p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #5f5f5f;
    padding-top: 15px;
}
.work-outer01{
    background: radial-gradient(circle at 100% 100%, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#f7f7f7, #f7f7f7) 50% 50%/calc(100% - 20px) calc(100% - 60px) no-repeat,
            linear-gradient(#f7f7f7, #f7f7f7) 50% 50%/calc(100% - 60px) calc(100% - 20px) no-repeat,
            conic-gradient(#ff6b01 0%, #ffff00 20%, #01a5c1 28%, #20b18a 50%, #798e55 66.67%, #fb5603 83.33%, #ff9700 100%);
    border-radius: 30px;
    padding: 40px 20px;
    box-sizing: border-box;
    min-height: 450px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
.work-outer01 .work-outer01-border{
    position: absolute;
    width: 10px;
    height: 224px;
    right: 1px;
    top: 86px;
}
.work-outer01 .work-outer01-circle{
    position: absolute;
    width: 36px;
    height: 34px;
    right: -13px;
    top: 84px;
    z-index: 1;
}
.work-outer01 .curve01{
    position: absolute;
    right: -200px;
    top: 67px;
    width: 210px;
    height: 269px;
    z-index: 1;
}
.work-outer01 .curve03{
    position: absolute;
    right: -188px;
    top: 78px;
    width: 210px;
    height: 269px;
    z-index: 1;
}
.work-outer02{
    background: radial-gradient(circle at 100% 100%, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#f7f7f7, #f7f7f7) 50% 50%/calc(100% - 20px) calc(100% - 60px) no-repeat,
            linear-gradient(#f7f7f7, #f7f7f7) 50% 50%/calc(100% - 60px) calc(100% - 20px) no-repeat,
            radial-gradient(at 100% 100%, #0483ee 0%, transparent 70%),
            radial-gradient(at 100% 0%, #ff3873 0%, transparent 70%),
            radial-gradient(at 0% 0%, #0584eb 0%, transparent 70%),
            #f73977;
    border-radius: 30px;
    padding: 40px 20px;
    box-sizing: border-box;
    min-height: 450px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
.work-outer02 .work-outer02-border{
    position: absolute;
    width: 10px;
    height: 224px;
    right: 1px;
    top: 86px;
}
.work-outer02 .work-outer02-left-border{
    position: absolute;
    width: 10px;
    height: 224px;
    left: -1px;
    top: 86px;
}
.work-outer02 .work-outer02-circle-right{
    position: absolute;
    width: 36px;
    height: 34px;
    right: -13px;
    top: 84px;
    z-index: 1;
}
.work-outer02 .work-outer02-circle-left{
    position: absolute;
    width: 36px;
    height: 34px;
    left: -13px;
    bottom: 138px;
    z-index: 1;
}
.work-outer02 .curve02{
    position: absolute;
    right: -200px;
    top: 67px;
    width: 210px;
    height: 269px;
    z-index: 1;
}
.work-outer02 .curve04{
    position: absolute;
    right: -188px;
    top: 75px;
    width: 210px;
    height: 269px;
    z-index: 1;
}
.work-outer03{
    background: radial-gradient(circle at 100% 100%, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #f7f7f7 0, #f7f7f7 20px, transparent 20px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#f7f7f7, #f7f7f7) 50% 50%/calc(100% - 20px) calc(100% - 60px) no-repeat,
            linear-gradient(#f7f7f7, #f7f7f7) 50% 50%/calc(100% - 60px) calc(100% - 20px) no-repeat,
            radial-gradient(at 100% 100%, #ff5500 0%, transparent 77%),
            radial-gradient(at 0% 0%, #00b4ab 0%, transparent 57%),
            linear-gradient(277deg, #5b9966 0%, #ffd101 99%);
    border-radius: 30px;
    padding: 40px 20px;
    box-sizing: border-box;
    min-height: 450px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
.work-outer03 .work-outer03-border{
    position: absolute;
    width: 10px;
    height: 224px;
    left: -1px;
    top: 86px;
}
.work-outer03 .work-outer03-circle-left{
    position: absolute;
    width: 36px;
    height: 34px;
    left: -13px;
    bottom: 138px;
    z-index: 1;
}
/* How it works End */
/* How to Register Start */
.register{
    background-image: url(.././images/background-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    text-align: center;
    padding-bottom: 60px;
}
.registerbox-outer-green{
    border-radius: 0px 70px;
    border-color: #037776;
    border: 6px solid #037776;
    /* min-height: 274px; */
    padding: 20px;
    margin-bottom: 20px;
}
.registerbox-green{
    border-radius: 0px 50px;
    border-color: #037776;
    border: 4px solid #037776;
    min-height: 265px;
    padding: 20px;
}
.registerbox-outer-blue{
    border-radius: 0px 70px;
    border-color: #064b9f;
    border: 6px solid #064b9f;
    /* min-height: 274px; */
    padding: 20px;
    margin-bottom: 20px;
}
.registerbox-blue{
    border-radius: 0px 70px;
    border-color: #064b9f;
    border: 4px solid #064b9f;
    min-height: 265px;
    padding: 20px;
}
.registerbox-outer-red{
    border-radius: 0px 70px;
    border-color: #f8385b;
    border: 6px solid #f8385b;
    /* min-height: 274px; */
    padding: 20px;
    margin-bottom: 20px;
}
.registerbox-red{
    border-radius: 0px 50px;
    border-color: rgba(171, 46, 46);
    border: 4px solid #f8385b;
    min-height: 265px;
    padding: 20px;
    -webkit-transition: opacity 0.9s ease 0s; 
}
.register p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #828282;
    padding-top: 15px;
}
.registerbox-green:hover p,.registerbox-blue:hover p,.registerbox-red:hover p{
    color: #000;
}
.registerbox-green:hover img,.registerbox-blue:hover img,.registerbox-red:hover img{
    webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
transform: scaleX(1.2) scaleY(1.2) !important;
}
/* How to Register End */
/* Disclaimer Start */
.disclaimer{
    padding-bottom: 60px;
}
.disclaimer h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
}
.disclaimer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #888;
}
/* Disclaimer End */
/* Footer Start */
footer{
    background: #156b71;
}
.pt54{
    padding-top: 30px;
}
footer .footer-top{
    padding-bottom: 24px;
}
footer .footer-top p{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
    padding: 15px 0 0 0;
    margin: 0;
}
footer .footer-top h3{
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 600;
    margin: 0 0 20px 0;
}
footer .footer-top ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer .footer-top ul li{
    list-style-type: none;
    padding: 0;
    margin: 0 0 6px 0;
    color: #fff;
    clear: both;
}
footer .footer-top ul li a{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
footer .footer-top ul li a:hover{
    color: #b6c58e;
}
footer .footer-top ul li.address img,
footer .footer-top ul li.phone img,
footer .footer-top ul li.email img{
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}
footer .footer-top ul li.address, footer.footer-top ul li.email {
    line-height: 34px;
}
footer .footer-top ul li.phone{
    font-size: 24px;
    font-weight: 500;
}
footer .footer-top ul li.phone a{
    font-size: 24px;
}

.copyright{
    border-top: 1px solid #1a8086;
    padding: 20px 0;
    color: #fff;
}
.footer-top img.logo{
    width: 100%;
}
ul.social{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.social li{
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.social li:first-child{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100px;
}
ul.social li:first-child p{
    position: absolute;
    left: 0;
    top: -29px;
}
ul.social a span{
    border-radius: 100px;
    border: 1px solid #fff;
    width: 34px;
    height: 34px;
    display: inline-block;
    position: relative;
}
ul.social a span i{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
ul.social a span:hover{
    border: 1px solid #fff;
    background-color: #fff;
}
ul.social a span:hover i{
    color: #156b71;
}

/* Footer End */
.page-heading{
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #1d4935;
}
.heading-content{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
}
.sub-heading{
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #1d4935;
}
.inner-header{
    margin-top: 20px;
    width: 100%;
}
/* Contact Us Start */
.contact-content{
    padding-right: 30px;
}
.contact-content h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    padding-bottom: 10px;
    color: #4c8c91;
}
.contact-content p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6em;
    padding-bottom: 1em;
    color: #231f20;
}
.contact-content p:last-of-type{
    padding-bottom: 0;
    font-size: 15px;    
}
.contact-address{
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.contact-address p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6em;
    padding-bottom: 1em;
    color: #231f20;    
}
.contactform{
    padding-bottom: 30px;
}
.contactform input[type=text],.contactform input[type=email], .contactform input[type=submit], .contactform textarea {
    border-color: #cccccc;
}
.contactform input[type=text]:focus,.contactform input[type=email]:focus, .contactform input[type=submit]:focus, .contactform textarea:focus {
    border-color: #cccccc;
    box-shadow: none;
}
.contactform input[type=submit]{
    font-size: 15px;
    border-radius: 6px;
    display: inline-block;
    background: #ab2e2e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    padding: 14px 20px;
    line-height: 1em;
    border: 0;
    margin-top: 15px;
}
.contactform input[type=submit]:hover{
    background: #4c8c91;
    color: #fff; 
}
/* Contact Us End */
/* Our Story Start */
.inner-content{
    padding-bottom: 30px;
}
.inner-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #231f20;
}
.inner-content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #4c8c91;
}
/* Our Story End */
.accordion-outer{
    margin-bottom: 50px;
}
.accordion-outer button{
    font-family: 'Montserrat', sans-serif;
}
.accordion-outer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
}
.accordion-button:not(.collapsed){
    color: #fff;
    background:#4c8c91 ;
}
.accordion-button:focus{
    border-color: #cccccc;
    box-shadow: none;
}
.accordion-button::after{
    content: '+';
    color: #000;
    background-image: none;
    font-size: 30px;
    top: -7px;
    position: relative;
}
.accordion-button:not(.collapsed)::after{
    content: '-';
    color: #fff;
    background-image: none;
    font-size: 30px;
    top: 9px;
    right: 10px;
    position: relative;
}
/* Product Start */
.product-box{
    position: relative;
    webkit-box-shadow: 2px 2px 0 rgb(0 0 0 / 2%);
    box-shadow: 2px 2px 0 rgb(0 0 0 / 2%);
    background-color: #fff;
    border:1px solid #e5e5e5;
    padding: 10px 2px 20px 2px;
    text-align: center;
    margin-bottom: 30px;
}
.product-box:hover{
    border-color: #003242;
    transition: all .3s ease-in-out;
}
.product-box:hover .wishlist{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    display: block !important;
    z-index: 1;
}
.product-box:hover .wishlist span a{
    display: inline-block;
    border-radius: 50%;
    background-color: #00b4ab;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}
.product-box:hover .wishlist span a:hover{
    display: inline-block;
    border-radius: 50%;
    background-color: #ab2e2e;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}
.product-box:hover .wishlist span a i{
    color: #fff;
}
.product-pic{
    width: 100%;
    max-width: 100%;
}
.product-title{
    padding-top: 0.5rem;
}
.product-title h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #003242;
    font-weight: 700;
    text-transform: capitalize;    
}
.product-title h5 a{
    color: #003242;
    text-decoration: none;
}
.product-title h5 a:hover{
    color: #ab2e2e;
}
.product-rating ul{
    padding: 0 0 0.5rem;;
    margin: 0;
    list-style-type: none;
}
.product-rating ul li{
    display: inline-block;
}
.product-rating ul li i{
    color: #e6b800;
}
.product-price{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #4c8c91;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 6px;
}
.button-view-all{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #4c8c91;
    padding: 0 23px;
    text-align: center;
    display: inline-block;
    position: relative;
    transition: color 0.15s linear 0s,transform 0.3s linear 0s;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    text-decoration: none;
}
.button-view-all:hover{
    background-color: #ab2e2e;
    color: #fff;
    transition: color 0.15s linear 0s,transform 0.3s linear 0s;
}
.product-info p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
}
.product-info h5{
    font-weight: 600;
}
.product-info .in-stock{
    display: inline-block;
    color: #ffffff;
    background: #4c8c91;
    padding: 0.1rem 0.5rem;
    font-size: 9pt;
}
.product-info .price{
    font-size: 16pt;
    font-weight: 500;
    line-height: 1.8;
    color: #ab2e2e;
}
.product-info .sale-price{
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.8;
  color: #000;
  text-decoration: line-through;
}
.product-info .product-rating .gray i{
    color: #949494;
}
.product-info .form-group{
    margin-bottom: 15px;
}
.product-info .form-group label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.product-info .form-group .form-control {
    display: block;
    width: 100%;
    max-width: 144px;
    height: 30pt;
    padding: 6px 12px;
    font-size: 11pt;
    line-height: 1.8;
    color: #666666;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.product-info .form-group button{
    background: #1d4935;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    margin-top: 20px;
}
.product-info .form-group button:hover{
    background-color: #ab2e2e;
}
.product-info ol li{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
    margin-bottom: 15px;
}
.product-enquiry{
    padding-bottom: 60px;
}
.product-enquiry h2.product-enquiry-title{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.toggled-on .fa-angle-down {
    display: none; 
}
.toggle-title {
    cursor: pointer;
    position: relative;
}
.toggle-title i {
    position: absolute;
    left: 140px;
    font-size: 19px; 
}
.toggled-off .toggle-content {
    display: none; 
}
.toggled-off .fa-angle-up {
    display: none; 
}
.product-enquiry-form{
    padding: 1.5rem;
    margin-top: 2rem;
    background: #f6f6f6;
}
.product-enquiry-form input[type=submit]{
    font-size: 16px;
    border-radius: 6px;
    display: inline-block;
    background: #ab2e2e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    padding: 14px 20px;
    line-height: 1em;
    border: 0;
    margin-top: 15px;
}
.product-enquiry-form input[type=submit]:hover{
    background: #4c8c91;
    color: #fff; 
}

/* Product End */

/* Testimonials Start */
.testimonials .inner-content-top h2{
    font-size: 26px;
}
.testimonial-box{
    background-color: #f8f7f6;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box .date{
    order: 1;
    min-width: fit-content;
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}
.testimonial-box .rating{
    order: 2;
    min-width: fit-content;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 16px;
    display: inline-block;
}
.testimonial-box .rating span{
    display: inline-block;
    color: #e6b800;
}
.testimonial-box .testimonial-content{
    order: 3;
    min-width: 100%;
    margin-bottom: 5px;
}
.testimonial-box .testimonial-content p{
    color: #868a8c;
    margin-bottom: 0px;
}
.testimonial-box .testimonial-name{
    order: 4;
    min-width: fit-content;
    font-size: 1.333em;
    font-weight: 700;
    margin-top: 0.5em;    
}
/* Testimonials End */
/* Blog Start */
.blog-item{
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
    border-radius: 0px;
    padding: 12px;
    transition: 0.3s;
}
.blog-item .blog-pic img{
    width: 100%;
    max-width: 100%;
    max-height: 215px;
    border-bottom: 5px solid #ab2e2e;
}
.blog-item .blog-content{
    padding-top: 15px;
    padding-bottom: 10px;
}
.blog-item .blog-content h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #555;
    margin-bottom: 10px;
    min-height: 65px;
}
.blog-item .blog-content h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #ccc;
}
.blog-item .blog-content p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.blog-item .blog-content a.readmore{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 10px;
}
.blog-item .blog-content a.readmore:hover{
    background: #4c8c91;
    color: #fff; 
}
.blog-single .blog-banner{
    margin: 30px 0;
}
.blog-single .blog-banner img{
    width: 100%;
    max-width: 100%;
}
.blog-single .blog-content-details{
    padding-bottom: 30px;
}
.blog-single .blog-content-details h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #555;
}
.blog-single .blog-content-details h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #555;
}
.blog-single .blog-content-details p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #888;
}
.blog-single .blog-content-details ul li{
    margin-bottom: 10px;
}
.blog .page-item.active .page-link {
    background-color: #af2d35;
    border-color: #af2d35;
}
/* Blog End */
/* Pet Care Start */
.pet-care h2{
    font-size: 24px;
    color: #555;
}
.pet-care .inner-content p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #888;
}
.pet-care-box{
    background-color: #f8f7f6;
    padding: 60px 0;
}
.pet-care-box .pet-care-box-left h6{
    color: #156b71;
    font-style: italic;
    font-weight: 700;
}
.pet-care-box .pet-care-box-left p span{
    color: #af2d35;
    font-weight: 700;
}
.contactform-practitioner form input[type=text],.contactform-practitioner form input[type=email], .contactform-practitioner form input[type=submit], .contactform-practitioner form textarea, .contactform-practitioner form select, .contactform-practitioner form input[type=date] {
    border-color: #cccccc;
}
.contactform-practitioner form select {
    border-color: #cccccc;
}
.contactform-practitioner form input[type=date]{
    width: 100%;
    height: 37px;
    border: 1px solid #ccc;
    padding: 0 5px;
}
.contactform-practitioner form input[type=text]:focus,.contactform-practitioner form input[type=email]:focus, .contactform-practitioner form input[type=submit]:focus, .contactform-practitioner form textarea:focus, .contactform-practitioner select:focus, .contactform-practitioner form input[type=date]:focus {
    border-color: #cccccc;
    box-shadow: none;
}
.contactform-practitioner form input[type=date]:focus-visible {
    border-color: #cccccc;
    box-shadow: none;
    border: 1px solid #ccc !important;
}
.contactform-practitioner form input[type=submit]{
    font-size: 16px;
    border-radius: 6px;
    display: inline-block;
    background: #ab2e2e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    padding: 14px 20px;
    line-height: 1em;
    border: 0;
    margin-top: 15px;
}
.contactform-practitioner form input[type=submit]:hover{
    background: #4c8c91;
    color: #fff; 
}
/* Pet Care End */
/* Team Start */
.team .inner-content{
    width: 70%;
    margin: 0 auto;
}
.team h1{
    padding-bottom: 0px;
}
.team-member{
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
    border-radius: 0px;
    padding: 12px;
    transition: 0.3s;
    position: relative;
}
.team-member .team-image {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-height: 230px;
    overflow: hidden;
}
.team-member .team-image img{
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 230px;
}
.team-member .team-image:hover img{
    webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    transform: scaleX(1.09) scaleY(1.09) !important;
}
.team-member .team-image .onsale{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #156b71;
    color: #fff;
    width: 58px;
    text-align: center;
    padding: 2px 18px;
}
.team-member .team-image .onsale:after{
    width: 0;
  height: 0;
  border: 12.5px solid transparent;
  position: absolute;
  content: "";
  border-top-color: #156b71;
  right: -23px;
  top: 0px;
  border-left-color: #156b71;    
}
.team-member .team-image .onsale:before{
    width: 0;
    height: 0;
    border: 13px solid transparent;
    position: absolute;
    content: "";
    border-bottom-color: #156b71;
    right: -23px;
    top: -1px;
}
.doctor .team-image {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-height: inherit;
}
.doctor .team-image img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.doctor .team-image:hover img{
    webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    transform: scaleX(1.04) scaleY(1.04) !important;
}
.team-member h4 {
    text-align: center;
    padding-top: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #555;
}
.team-member .team-content {
    padding: 0 25px;
    position: relative;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    color: #888;
}
.team-member:hover p {
    color: #000;
}
/* Team End */
a.course-guide{
    font-size: 16px;
    border-radius: 6px;
    display: inline-block;
    background: #4c8c91;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    padding: 14px 20px;
    line-height: 1em;
    border: 0;
    margin-bottom: 30px;
}
a.course-guide:hover{
    background: #ab2e2e;
    color: #fff;
    border: 0;
}
a.course-guide:focus{
    color: #fff;
    border: 0;
    box-shadow: none;
}
/* Services Parent Start */
.service-pic-left img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.service-category-box{
    border: 1px solid #e4e4e4;
    padding: 10px;
    margin-bottom: 20px;
}
.service-pic-left img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.service-category-cont h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px; 
}
.service-category-cont p{
    margin-bottom: 5px;
}
.readmore{
    background: #ab2e2e;
    color: #fff;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    box-shadow: none;
    text-decoration: none;
    border: 0;
}
.readmore:hover{
    background: #4c8c91;
    color: #fff;
}
/* Services Parent Start */
/* Log In Start */
.pmpro_login_wrap{
    background-color: #166b72;
    width: 35%;
    margin: 0 auto 40px;
    padding: 30px 35px 4px;
    border-radius: 10px;
}
.pmpro_login_wrap #loginform{
    margin-left: 25px;
}
.pmpro_checkout_gateway-none{
    background-color: #166b72;
    width: 60%;
    margin: 0 auto 40px;
    padding: 30px;
    border-radius: 10px;
}
.pmpro_checkout h3 span, .pmpro_checkout h3 span a{
    color: #fff;
}
.pmpro_checkout h3 span a{
    text-decoration: none;
}
.pmpro_checkout-fields p{
    color: #fff;
}
.pmpro_checkout-fields label{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500 !important;
    width: 100%;
    padding: 0 0 5px;
}
.pmpro_login_wrap label{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500 !important;
    width: 100%;
    padding: 0 0 5px;
}
.pmpro_login_wrap input[type=text], .pmpro_login_wrap input[type=password], .pmpro_checkout-fields input[type=text], .pmpro_checkout-fields input[type=password], .pmpro_checkout-fields input[type=email]{
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    padding: 0.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
    background-color: #fff !important;
    box-shadow: none;
}
.pmpro_checkout-fields abbr{
    color: #fff;
}
.pmpro_login_wrap input[type=submit], .pmpro_submit input[type=submit] {
    font-size: 14px;
    border-radius: 6px;
    display: inline-block;
    background: #ab2e2e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    padding: 10px 14px;
    line-height: 1em;
    border: 0;
    opacity: 0.9;
}
.pmpro_login_wrap input[type=submit]:hover, .pmpro_submit input[type=submit]:hover{
    opacity: 1;
}
.pmpro_login_wrap input[type=text]:focus-visible, .pmpro_login_wrap input[type=text]:focus{
    border-color: #ccc;
    box-shadow: none;
}
.pmpro_actions_nav{
    color: #fff !important;
}
.pmpro_actions_nav a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.pmpro_actions_nav a:hover{
    color: #b6c58e;
}
.pmpro_actions_nav .pmp-join{
    display: none;
}
.pmpro_lost_password_wrap{
    background-color: #166b72;
    color: #fff;
    margin: 0 auto 40px;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    padding: 30px 30px 5px 30px;
}
.pmpro_lost_password_wrap p{
    color: #fff;
}
form.pmpro_form label{
    text-align: center !important;
    padding-bottom: 15px;
}
form.pmpro_form input[type=text]{
    border-radius: 0.25rem;
    border: 1px solid #333;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
    background-color: #fff !important;
    box-shadow: none;
}
.pmpro_reset_password_wrap{
    background-color: #166b72;
    color: #fff;
    margin: 0 auto 40px;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    padding: 30px 30px 5px 30px;
}
.pmpro_reset_password-field-pass1 #pass1{
    margin-left: 156px;
}
.pmpro_reset_password-fields p.lite{
    color: #fff;
}
form.pmpro_form input[type=password]{
    border-radius: 0.25rem;
    border: 1px solid #333;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
    background-color: #fff !important;
    box-shadow: none;
}
/* Log In End */
.bdy-img{
    padding-right: 40px;
    padding-bottom: 40px;
}
.bdy-img img{ 
    width: 100%;
    max-width: 100%;
}
.vision-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
}
.about-outer-bg{
    background-image: url(https://projects.flyonit.com/homeodynamic/wp-content/uploads/2023/01/MicrosoftTeams-image.jpg);
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    margin-bottom: 20px;
}
.about-outer-bg h4{
    color: #fff;
}
.about-outer-bg p{
    color: #dddbdb;
    text-align: justify;
}
.ft-disclaimer{
    width: 62%;
    margin-top: 21px;
}
.abt-title{
    color: #fff !important;
}

.innerheader{
    min-height: 300px;
    padding: 200px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Testimonial Start */
.testimonial-three .testimonial-box{
    background-color: inherit;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
}
.testimonial-three .testimonial-box .date{
    order: 1;
    min-width: fit-content;
    margin-bottom: 4px;
    font-size: 16px;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}
.testimonial-three .testimonial-box .rating{
    order: 2;
    min-width: fit-content;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    display: inline-block;
}
.testimonial-three .testimonial-box .rating span{
    display: inline-block;
    color: #e6b800;
}
.testimonial-three .testimonial-box p{
    width: 100%;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
}
.testimonial-three .testimonial-box p a{
    display: block;
    clear: both;
    color: #ab2d2e;
    text-decoration: none;
    width: 100px;
    margin-top: 10px;
    font-weight: 600;
    font-style: italic;
}
.testimonial-three .testimonial-box .author-img-block .author-tablecell-block p{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
/* Woocommerce cart Start */
.woocommerce-cart-form .product-thumbnail img{
    width: 64px;
    height: 64px;
}
.woocommerce-cart-form .product-name a{
    color: #ab2e2e;
    text-decoration: none;
    font-weight: 600;
}
.woocommerce-cart-form .coupon #coupon_code{
    width: 128px;
    padding: 3px 0 3px 3px;
}
.woocommerce-cart-form button[type=submit]{
    background-color: #ab2e2e;
    color: #fff;
    border-radius: 0;
}
.woocommerce-cart-form button[type=submit]:hover{
    background-color: #156b71;
    color: #fff;
}
.woocommerce-cart-form button:disabled{
    background-color: #ab2e2e;
    color: #fff !important;
    border-radius: 0;
}
.woocommerce-cart-form button:disabled:hover{
    background-color: #156b71;
    color: #fff;
}
.woocommerce button.button:disabled[disabled]:hover{
    background-color: #156b71;
    color: #fff;
}
.cart_totals .wc-proceed-to-checkout .checkout-button{
    background-color: #ab2e2e !important;
    color: #fff !important;
    border-radius: 0;
}
.cart_totals .wc-proceed-to-checkout .checkout-button:hover{
    background-color: #156b71 !important;
    color: #fff !important;
    border-radius: 0;
}
.woocommerce a.button{
    background-color: #ab2e2e;
    color: #fff !important;
    border-radius: 0;
}
.woocommerce a.button:hover{
    background-color: #156b71;
    color: #fff !important;
    border-radius: 0;
}
.woocommerce button.button.alt{
    background-color: #ab2e2e;
    color: #fff !important;
    border-radius: 0;
}
.woocommerce button.button.alt:hover{
    background-color: #156b71;
    color: #fff !important;
    border-radius: 0;
}

  /* Testimonial End */
.ebook-single-bg{
    position: relative;
    min-height: 300px;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ebook-single-bg .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}
.ebook-single-bg .container{ 
    position: relative;
    z-index: 2;
}
.team-member.ebooks-box .team-image{
    max-height: 580px;
}
.team-member.ebooks-box h4 {
    min-height: 50px;
}
.inner-content.thankyou-msg{
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}
.inner-content.thankyou-msg .heading{
    color: #ab2e2e;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}
.inner-content.thankyou-msg .book-name{
    background-color: #ab2e2e !important;
    font-weight: 600;
    padding: 0 8px;
    color: #fff;
}
.inner-content.thankyou-msg a{
    color: #00b4ab;
    text-decoration: none;
}
.subs-form .subs-content h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: #231f20;
}
.subs-form label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #231f20;
}
.ebook-referance{
    margin-bottom: 30px;
    text-align: center;
}
.ebook-referance h4{
    background-color: #156b71;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 34px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
}
.referance-links{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
    min-height: 94px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.referance-links a{
    color: #ab2e2e;
    flex: 0 0 auto;
    width: 100%;
}

/* Membership Levels Start */
.pricing-box{
    margin-bottom: 30px;
    background-color: #f5f5f5;
    text-align: center;
    border: solid 1px #ebebeb;
    border-bottom: solid 2px #d3d3d3;
}
.pricing-box h2{
    padding: 6px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    background: #4c8c91;
    color: #fff;
}
.pricing-box h3{
    padding: 6px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #ab2e2e;
    min-height: 68px;
}
.pricing .currency{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    position: relative;
    top: 2px;
    vertical-align: text-top;
    margin: 0 2px;
    vertical-align: top;
    color: #ab2e2e;
}
.pricing .amount{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    color: #ab2e2e;
}
.pricing small{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: relative;
    color: #313131;
    padding: 2px;
    display: block;
}
.pricing-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pricing-box ul li{
    padding: 0;
    margin: 0 auto 5px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #231f20;
    width: 90%;
    list-style-position: inside;
    text-align: left;
    border-bottom: 1px solid #fff;
}
.pricing-box ul li i{
    font-size: 8px;
    margin-right: 6px;
}
.pricing-box .select-button{
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
    border-radius: 0px;
    background: #ab2e2e;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pricing-box .select-button:hover{
    background: #4c8c91;
    color: #fff;
}
/* Membership Levels End */

/*Research Start*/
.research-referance {
    margin-bottom: 30px;
    text-align: center;
}

.research-referance h4 {
    background-color: #156b71;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 34px;
    padding: 20px 8px 10px 8px;
    text-align: center;
    margin-bottom: 0;
    min-height: 132px;
}

.research-links {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 8px 10px 8px;
    min-height: 195px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.research-links span {
    color: #ab2e2e;
    font-weight: 500;
}

.research-links a {
    color: #ab2e2e;
    flex: 0 0 auto;
    width: 100%;
}

/*Research End*/

@media (max-width: 1366px) {
    .curve01{
        display: none;
    }
    .curve02{
        display: none;
    }
    .curve03{
        display: block !important;
    }
    .curve04{
        display: block !important;
    }
    .work-outer01{
        min-height: 400px;
    }
    .work-outer02{
        min-height: 400px;
    }
    .work-outer03{
        min-height: 400px;
    }
    .work-outer02 .work-outer02-circle-left {
        position: absolute;
        width: 36px;
        height: 34px;
        left: -13px;
        bottom: 88px;
        z-index: 1;
    }
    .work-outer03 .work-outer03-circle-left {
        position: absolute;
        width: 36px;
        height: 34px;
        left: -13px;
        bottom: 88px;
        z-index: 1;
    }
    .registerbox-blue{
        border-radius: 0px 50px;
        border-color: #064b9f;
        border: 4px solid #064b9f;
        min-height: 336px;
        padding: 20px;
    }
    .registerbox-red {
        border-radius: 0px 50px;
        border-color: #f8385b;
        border: 4px solid #f8385b;
        min-height: 335px;
        padding: 20px;
    }
    .registerbox-outer-green, .registerbox-outer-blue, .registerbox-outer-red{
        padding: 10px; 
    }
    .registerbox-green {
        border-radius: 0px 50px;
        border-color: #037776;
        border: 4px solid #037776;
        min-height: 270px;
        padding: 10px;
    }
    .registerbox-blue {
        border-radius: 0px 50px;
        border-color: #064b9f;
        border: 4px solid #064b9f;
        min-height: 270px;
        padding: 10px;
    }
    .registerbox-red {
        border-radius: 0px 50px;
        border-color: #f8385b;
        border: 4px solid #f8385b;
        min-height: 270px;
        padding: 10px;
    }
    .workbg p {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        color: #5f5f5f;
        padding-top: 15px;
    }
    .registerbox-outer-green {
        max-width: 330px;
        margin: 0 auto 20px;
    }
    .registerbox-outer-blue {
        max-width: 330px;
        margin: 0 auto 20px;
    }
    .registerbox-outer-red {
        max-width: 330px;
        margin: 0 auto 20px;
    }
    .register {
        background-image: url(.././images/background-map02.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        text-align: center;
        padding-bottom: 60px;
    }
}

.services-desc-img{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.services-twoclm{
    border: 1px solid #e4e4e4;
    padding: 15px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #231f20;
}

.services-content-fullwidth{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #231f20;
}

.services-circle-img{
    width: 80%;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .hamburger {
        display: block;
    }
    .homeochakra-header-right-btn {
        display: none;
    }
    .homeochakra-desktop-menu {
        display: none !important;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu {
        display: none;
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: #fff;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul {
        padding: 15px 30px 0px;
        margin: 0;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul li a {
        padding: 9px 0;
        display: block;
        color: #1b1d21;
        font-weight: 600;
        border-bottom: 1px solid #e5e5e5;
        text-decoration: none;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul li a:hover {
        text-decoration: none;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul li>ul {
        padding: 0;
        position: relative;
        display: none;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul li {
        position: relative;
        list-style: none;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul li .arw-nav {
        /* padding: 9px 0; */
        position: absolute;
        top: 0;
        right: 0;
        width: 43px;
        height: 43px;
        color: #ab2f2f;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homeochakra-nav__sup.homeochakra-mobile-menu ul li .arw-nav.actv::before {
        transform: rotate(180deg);
    }
    .header-top {
        display: none;
    }
}
@media (max-width: 1024px) {
    .packages-content{
        text-align: center;
    }
    .packages-content h3{
        padding-top: 20px;
    }
}
@media (max-width: 991px) {
    .work-outer01 .curve01, .work-outer02 .curve02, .work-outer01 .curve03,.work-outer02 .curve04{
        display: none !important;
    }

}
@media (max-width: 767px) {
    .copyright .justify-content-end{
        justify-content: center!important;
    }
    .copyright{
        text-align: center;
    }
    footer .footer-top h3{
        padding-top: 25px;
    }
    .homevideo .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .work-outer01 .work-outer01-border, 
    .work-outer01 .work-outer01-circle, 
    .work-outer02 .work-outer02-circle-right, 
    .work-outer02 .work-outer02-circle-left, 
    .work-outer02 .work-outer02-border, 
    .work-outer02 .work-outer02-left-border,
    .work-outer03 .work-outer03-circle-left,
    .work-outer03 .work-outer03-border{
        display: none;
    }
    .ft-disclaimer{
        width: 62%;
        margin: 21px auto 0 auto;
        display: inline-block;
    }
}